target/
**/target/

--output/

*.log

_local_archive_src/

corpus_report*.json
corpus_out*.json
self_corpus*.json
*_report*.json

hippocampus.json
ryiuk_brain.json
llmchat_manifest.json
migration_policy.json
evolution_report.json
champion_chromosome_locked.json
corpus_extensions.json
genesis.pub
